body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url('loginbg.jpg'); /* Replace 'loginbg.jpg' with your background image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.header-content {
    display: flex;
    align-items: center;
}

.website-name {
    font-size: 2.5em;
    font-weight: bold;
    color: #08a88a;
    padding: -1px 20px;
    border-radius: 5px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 30%;
    margin: 100px auto;
}

.login-form h2 {
    color: #333;
}

.input-container {
    margin: 15px 0;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    font-weight: bold;
}

button {
    background-color: #08a88a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}
